html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6,  blockquote, pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
                margin: 0;
                padding: 0;
                border: 0;
            	font-weight: inherit;
            	font-style: inherit;
            	font-size: 100%;
            	font-family: inherit;
            	vertical-align: baseline;
            	font-family:'helvetica neue',helvetica, arial;
            
            }

            a {
                text-decoration:none;
                color:#1569C7;
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
                }
            a:hover {
                color:#C85A17;
                }
    
            body {
                opacity:1;
                background-color:#fcfcfc;
                padding:0;
                margin:0;
                text-align:center;
                font-family:'helvetica neue',helvetica,arial;
                font-weight:200;
                font-size:13px;
                line-height:1.5em;
                }
                
                
            .bigmenu {
             background-color:#000;  
             color:#999;
             background:-webkit-gradient(linear, center top, center bottom, color-stop(7%, rgba(30, 30, 30, 1) ), color-stop(89%, rgba(00, 00, 00, 1)));
              box-shadow:0 1px 3px rgba(0, 0, 0, 0.8);
            }
            
            .bigmenu .bigmenu-int {
                max-width:1000px;
                margin:auto;
                text-align:left;
                padding:2px 20px;
                }
                
            .bigmenu #paginas a {
                display:inline-block;
                padding:0px 15px 0px 15px;
                color:#fff;
                font-weight:500;
                display:inline-block;
            }
            
            .bigmenu #paginas a:hover {
                color:#f93;
                }
            
            
            #paginas {display:inline-block;vertical-align:top;padding:15px 0;}
            
            .bigmenu .top-title {
  
             font-family:damion;  
             font-size:32px;
             display:inline-block;
             margin-right:20px;
             padding:14px 0 14px 0;
             color:#444;
             text-shadow:1px 1px 1px #000;
            
       
            }
            
            .bighead {
                background-size:cover;
                background-position:center 50%;
                background-color:#f5f5f5;
                box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.8) inset;
                }
                
            .bigmenu + .bighead {
                 
            }
                
            .bighead .head-author {
                text-align:left;
                position:relative;
                vertical-align:bottom;
                display:block;
                height:400px;
                max-width:1000px;
                margin:auto;
                }
                
            .bighead .head-author .legend {
                text-shadow:1px 1px 1px #555;
                padding-bottom:20px;
                padding-left:45px;
                min-height:200px;
                position:absolute;
                bottom:0;
                left:0;
                cursor:default;
                background:url('http://static.tumblr.com/srkzstu/dvwm92lnh/timelinedark.png') 107px 10px repeat-y;
                color:#fff;
                }
                
            .bighead .head-author .legend .photo {
                display:inline-block;
                border-radius:120px;
                }
                
            .bighead .head-author .legend .desc {
                max-width:300px;
                margin-left:35px;
                vertical-align:top;
                display:inline-block;
                padding-top:15px;
                }
                
            .bighead .head-author .legend .desc a {
                text-decoration:underline;
                }
            
            .bighead .head-author .legend .desc .big {
                font-family:damion;
                margin-bottom:10px;
                display:block;
                font-weight:200;
                font-size:35px;
                }
            
            .bighead .head-author .legend .photo img {
                padding:0px;
                background-color: rgba(255,255,255,0.5);
                border-radius:100px;
                box-shadow:0 0px 3px rgba(0, 0, 0, 0.8), 
                0 0px 2px rgba(255, 255, 255, 1) inset;
                }
                
            
                
                
                
            .bighead .head-author .legend .ul-title {
                    margin-top:0px;
                    padding-top:5px;
                    background:url('http://static.tumblr.com/srkzstu/7Y7m96dtd/body-bg5.png') center -2px repeat-x;
                    font-size:11px;
                }
                
                
            .bighead .head-author .legend .head-members li {
                display:inline;
                margin-right:4px;
                margin-top:4px;
                }
                
            .bighead .head-author .legend .head-members li img {
                border-radius:2px;
            }
                
            .bighead .head-author .legend .head-members ul {
                padding-top:4px;   
                
            }
            
            .head-socialmedia {
                margin:10px 0 0 0;
                }
                
                
               
             .sidebar {padding-bottom:50px;}
               
              .sidebar .head-members li {
                display:inline;
                margin-right:4px;
                margin-top:4px;
                }
                
            .sidebar .head-members li img {
                border-radius:2px;
            }
                
            .sidebar .head-members ul {
                padding-top:4px;   
                
            }
                
            
            .cuerpo-content {
                overflow:hidden;
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') left 5px repeat-x
                }
                
            .cuerpo {
                text-align:left;
                overflow:hidden;
                max-width:1000px;
                margin:auto;
                }
            
            .cuerpo .column-left, .cuerpo .column-right {
                margin-top:5px;
                display:inline-block;
                vertical-align:top;}
            
            .cuerpo .column-left {
                width:68%;
                background:url('http://static.tumblr.com/srkzstu/jYxm92kzm/timeline.png') 107px top repeat-y;;
                }
                
            .cuerpo .column-right {
                margin-top:35px;
                width:31%;
                font-size:12px;
                background: url('http://static.tumblr.com/srkzstu/AFdm9dqom/v-separatorflow-dashed.png') left center repeat-y;
                
                }
                
                
                
            #commentstag {
             padding:25px;
             list-style-type:none;
            }
            
            #commentstag div {
                
            }
                
            .menu-sidemenu {
                border-style:solid;
                border-width:1px;
                border-color:#ddd;
                border-radius:2px;
                background-color:#fafafa;
                box-shadow: 1px 1px 2px rgba(122,122,122, 0.1);
                }
                
            .menu-sidemenu .caption {
                position:relative;
                border-radius:3px;
                border-style:solid;
                border-color:#fff;
                border-width:1px 1px 0 1px;
                min-height:20px;
                background: url('http://static.tumblr.com/srkzstu/Yj3m9dmni/gradiente.png') center bottom repeat-x;
                }
                
            .menu-sidemenu .menu-sidemenu-body {
                padding:2px 0 2px 0;
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') center top repeat-x;
                background-color:#fcfcfc;
                }

            .lista {
                list-style-type:none;
                }
                
            .lista li {
                padding:2px 5px 2px 15px;
                }
                
            .lista li + li {
                background:url('http://static.tumblr.com/srkzstu/yqZm9dmcn/h-separatorflow2.png') center top repeat-x, url('http://static.tumblr.com/srkzstu/yU0m9dmp9/brilloboton.png') right top repeat-x;
                }
                
            .lista li a {
                display:block;
                padding:10px 10px 10px 25px;
                font-weight:500;
                background:url('http://static.tumblr.com/srkzstu/I20m9dmqy/checkbox.png') left center no-repeat;
                }
                
            .lista li.active a 	{
                color:#f59b00;
                background:url('http://static.tumblr.com/srkzstu/3Rtm9dmsz/checkbox-active.png') left center no-repeat;
                }
                
            .lista li em {
                background:url('http://static.tumblr.com/srkzstu/yqZm9dmcn/h-separatorflow2.png') left -2px repeat-x, url('http://static.tumblr.com/srkzstu/yU0m9dmp9/brilloboton.png') left top repeat-x;
                float:right;
                color:#fff;
                font-size:11px;
                background-color:#ea8888;
                padding:3px 6px 3px 6px;
                border-radius:33px;
                margin-top:0px;
                margin-left:10px;
                font-weight:normal;
                }



            /* this maintain the tooltip centered */
            .reblog-source a {display:block;}
                
                
            
            .cuerpo .column-right .cuadro {
                color:#666;
                padding: 10px 0 30px 0;
                margin-left:30px;
                margin-right:20px;
                }
                
            .cuerpo .column-right .cuadro + .cuadro {
             padding:30px 0;   
            }
            
            .cuerpo .column-right .cuadro {
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') left bottom repeat-x;
                }
                
            .cuerpo .column-right .cuadro label {
                font-weight:500;
                font-size:14px;
                background:url('http://static.tumblr.com/srkzstu/bT7m99ti7/pointseparator2.png') center center repeat-x;
                display:block;
                margin-bottom:10px;
            }
            
            .cuerpo .column-right .cuadro label span {
                padding:5px 15px;
                display:inline-block;
                margin-left:20px;
                background-color:#fcfcfc;
            }
            
            .posts {
                padding-top:30px;
            }
            
            
            
            
            .li-indicator {
                padding:8px 15px;
                background-color: rgba(190,190,190, 0.1);
                border-radius:2px;
                margin:0 16px 20px 27px;
                position:relative;
                color:#a54;}
                
            .li-indicator span.quit {
                width:10px;
                height:20px;
                display:block;
                float:right;
                background:url('http://static.tumblr.com/srkzstu/Pwgm9dwwl/x_7x7_gray.png') center center no-repeat;
                opacity:0.2;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            
            .li-indicator span.quit:hover {
                opacity:0.9;   
            }
            
            .posts li.activity-row {
           
                display:block;
                }
            
            li.activity-row .tablastyle .sentence .sentence-text {
                display:block;
                font-weight:200;
                color:#555;
                }
                
            li.activity-row .tablastyle .sentence .sentence-text a {
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
                font-weight:500;
                color:#333;
                text-decoration:underline;
                }

            
            li.activity-row .tablastyle .sentence {
                background-color:#fefefe;
                display:block;
                margin-left:10px;
                margin-right:15px;
                border-style:solid;
                border-width:1px;
                border-color:#d7d7d7;
                border-radius:3px;
                box-shadow: 0px 1px 2px rgba(10,10,10, 0.1);
                overflow:hidden;
                }
            
            li.activity-row .tablastyle .sentence .sentence-int {
                border-style:solid;
                border-width:1px 1px 0 1px;
                border-color:#fff;
                border-radius:3px;
                display:block;
                padding:15px 15px 17px 15px;
                line-height:1.0em;
                background:url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center center repeat-x;
                }
            
            li.activity-row .tablastyle .sentence .arrow {
                background:url('http://static.tumblr.com/srkzstu/Oy1m920s2/flecha-izquierda-white.png') right center no-repeat;
                display:block;
                position:absolute;
                width:16px;
                height:16px;
                margin-left:-31px;
                }


            li.activity-row {
                margin:0;
                padding:0px 0; 
                display:block;
                position:relative;
                overflow:hidden;
                background:url('http://static.tumblr.com/srkzstu/pNom92zvg/timeline-fix.png') 40px 25px no-repeat;
                }
            
            li.activity-row .tablastyle {
                display:table;
                width:100%;
                margin:0;
                }
                
            li.activity-row .tablastyle .left, li.activity-row .tablastyle .center, li.activity-row .tablastyle .right {
                display:table-cell;
                padding:0px 10px;
                vertical-align:top;
                }
                
            li.activity-row .tablastyle .left {
                width:60px !important;
                text-align:center;
                }
                
            li.activity-row .tablastyle .center {
                text-align:center;
                width:20px !important;
              
                }
            
            li.activity-row .tablastyle .center .icon-reblog {
                margin:auto;
                display:block;
                width:30px;
                height:30px;
                background:url('http://static.tumblr.com/srkzstu/pbym94a5f/note_reblog.png') center center no-repeat;
                margin:-10px auto 15px auto;
                background-color:#fefefe;
                position:relative;
                z-index:1;
                border-radius:100px;
                }
            
             li.activity-row .tablastyle .center .reblog-source {
                 background-color:#fefefe;
                 padding:10px 0 5px 0;
                 margin-top:55px;
                 }
             
             li.activity-row .tablastyle .center .reblog-source img {
                 border-radius:70px;
                 display:block;
                 margin:auto;
                 box-shadow: 0 1px 1px rgba(10,10, 10, 0.8);
                 }
            
            
            li.activity-row .tablastyle .right {}
            
            li.activity-row .tablastyle .left img {
                margin-top:4px;
                border-radius:2px;
                box-shadow:0 1px 2px rgba(0, 0, 0, 0.4)
                }
                        
            
            li.activity-row .tablastyle .center .puntito {
                margin:auto;
                box-shadow: 0px 1px 2px rgba(10,10,10, 0.1);
                margin-top:7px;
                background:url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
                display:block;
                height:35px;
                width:35px;
                border-style:solid;
                border-width:1px;
                border-color:#d3d3d3;
                border-radius:30px;
                background-color:#fff !important;
                }
                
                
                
            li.activity-row.text .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/z8nma1pgj/t_article.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.photo .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/yRGma1qii/t_image.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.photoset .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/fIFma1o2q/t_photoset.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.video .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/BHHma1ol9/t_video.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.quote .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/YGOma1qm9/t_quote.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.link .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/ppRma1pja/t_link.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.answer .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/eOYma1pc4/t_answer.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.chat .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/wyima1pqu/t_chat.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
            
            li.activity-row.audio .tablastyle .center .puntito {
                background:url('http://static.tumblr.com/srkzstu/XIAma1opu/t_audio.png') center center no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
                
                
   
            
            
            li.activity-row .tablastyle .description {
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                }
                
            li.activity-row .tablastyle .description-int {
                font-weight:200;
                font-size:13px;
                padding:20px;
                line-height:1.5em;
                }
            
            
            li.activity-row .tablastyle .pie {
                padding:0;
                line-height:1.0em;
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x
                }
                
            li.activity-row .tablastyle .pie-int {
                color:#999;
                font-weight:200;
                font-size:11px;
                padding:12px 20px 10px 20px;
                line-height:1.5em;
                overflow:hidden;
                position:relative;
                }
            
            li.activity-row .tablastyle .pie .notescount {
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
                background:url('http://static.tumblr.com/srkzstu/wuSm944u2/heartmini.png') left center no-repeat;
                padding-left:16px;
                cursor:pointer;
                }
                
            li.activity-row .tablastyle .pie .notescount.loading {
                background:url('http://static.tumblr.com/srkzstu/QQfm95ht3/load_small.gif') left center no-repeat;  
                }
                
            li.activity-row .tablastyle .pie .notescount:hover {
                color:#555;
                }
            
            li.activity-row .tablastyle .pie .tags {
                float:right;
                height:17px;max-width:230px;
                overflow:hidden;
                }
                
             li.activity-row .url {
                 display:block;
                 float:right;
                 margin-left:5px;
                 width:16px;
                 height:15px;
                 background:url('http://static.tumblr.com/srkzstu/TdBm94mgj/linkmini.png') center center no-repeat;
                 }
                 
                 
                 
            li.activity-row ul.submenu {
                 transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                display:block;
                position:absolute;
                z-index:999;
                background-color:#fff;
                right:-9999px;
                font-size:11px;
            opacity:0;
              
                border-radius:2px;
                list-style-type:none;
              
                top:5px;
          
                width:200px;
                box-shadow: 1px 1px 2px rgba(10,10,10, 0.1);
                border-style:solid;border-width:1px;border-color:#ccc;
                }
                
                li.activity-row .options {
                    position:relative;
                    }
                
                li.activity-row .options:hover ul.submenu {
                    
                    opacity:1;
                    right:5px;
                    }
                
                li.activity-row ul.submenu li + li {
                 
                 background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                }
                
                li.activity-row ul.submenu li a {
          
                    display:block; 
                    padding:10px 15px;
                    
                    }
                 
            li.activity-row .optionlist {
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                 display:block;
                 float:right;
                 margin-left:5px;
                 width:16px;
                 height:15px;
                 background:url('http://static.tumblr.com/srkzstu/LOBm96f3k/options-button.png') center center no-repeat;
                 opacity:0.6;
                 cursor:pointer;
                 }
                 
            li.activity-row .optionlist:hover {
                opacity:1;
                }
                
                
            
            
            
            li.activity-row.text .description-int {
                padding:40px;
                line-height:1.6em;
                font-size:14px;
                }
                
            li.activity-row.text span.post-title {
                font-size:23px;
                font-weight:500;
                margin-bottom:15px;
                display:block;
                line-height:1.5em;
                }
                
            li.activity-row.text span.post-desc {
                line-height:1.7em;
                }
        


            li.activity-row.photo .photo-content {
                text-align:center;
                
                border-top:1px solid #e5e5e5;
                position:relative;
                background-color:#555;
                }
                
            li.activity-row.photo .photo-content2 {
                text-align:center;
                
                border-top:1px solid #e5e5e5;
                position:relative;
                background-color:#555;
                }
                
            li.activity-row.photo .photo-content .expand-button {
                display:block;
                height:30px;
                width:30px;
                position:absolute;
                right:10px;
                top:10px;
                background:url('http://static.tumblr.com/srkzstu/Uz1m95ipe/expand.png') center center no-repeat;
                opacity:0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                }
                
            li.activity-row.photo .photo-content .expand-button:hover {
                opacity:0.8 !important;   
                }
                
            li.activity-row.photo .photo-content:hover .expand-button {
                opacity:0.5   
                }
                
            li.activity-row.photo .photo-content img {
                display:block;
                position:relative;
                margin:auto;
                max-width:100% !important;
                
                }

            li.activity-row.photo .description-int {
                padding:25px 40px;
                }











            li.activity-row.audio .audio-content {
                text-align:center;
                
                border-top:1px solid #e5e5e5;
                position:relative;
                background-color:#000;
                }
                
                
            li.activity-row.audio .audio-content img {
                display:block;
                margin:auto;
                max-width:100% !important;
                
                }
                
            li.activity-row.audio .description-int {
                padding:25px 40px;
                }
                
            li.activity-row.audio .audioplayer {
                padding:6px 0 1px 0;   
            }







            li.activity-row.video .video-content {
                text-align:center;
                
                border-top:1px solid #e5e5e5;
                position:relative;
                background-color:#000;
                }
                
                
            li.activity-row.video .video-content iframe {
                display:block;
                margin:auto;
                max-width:100% !important;
                
                }
                
            li.activity-row.video .description-int {
                padding:25px 40px;
                }






            li.activity-row.link .question {
                padding:15px 22px;
                font-size:20px;
                }
                
            
            li.activity-row.link .description-int {
                padding:25px 40px;
                }
                
            
            
            
            
            li.activity-row.quote .quote {
                padding:40px;
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x, url('http://static.tumblr.com/srkzstu/GQVm9farh/paperquote2.png') center center repeat-y;
                font-weight:500;
                text-shadow:0px 0px 1px #666;
                
                }
                
                
            li.activity-row.quote .quote.short {
                
                font-size:35px;
                line-height:1.4em;
                color:#222;
                
                
            }
            
            li.activity-row.quote .quote.medium {
                
                font-size:25px;
                line-height:1.4em;
            }
            
             li.activity-row.quote .quote.long {
                
                font-size:16px;
                line-height:1.7em;
            }
            
            
            li.activity-row.quote .source {
             margin-top:20px;
             text-align:right;font-size:12px;
            }




                li.activity-row .description-int img{
                max-width:100% !important;
                }







            li.activity-row.photoset .photo-content img {
                display:none !important;
                margin:auto;
                max-width:100%;
                
                }
                
                
                
            .photo-menu {
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                padding:12px 4px 6px 4px;
                background-color:#f5f5f5;
                text-align:center;
                
            }   
                
            .photo-menu .photin {
                display:inline-block !important;
          
                margin:auto;
                padding:0 2px;
                }
                
            .photo-menu .photin img {
             display:block; 
             border-radius:2px;
             cursor:pointer;
             opacity:1;
             transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            
            .photo-menu .photin img:hover {
             opacity:0.7;   
            }



.alertin {border-style:solid;border-width:1px;border-color:#e6bf4a;border-radius:3px;background-color:#fffdf3;box-shadow: 1px 1px 3px rgba(10,10,10, 0.1);}
.alertin .alertin-int {text-align:center;line-height:1.5em;border-color:#fff;border-width: 1px 1px 0 0;border-style:solid;border-radius:3px;padding:20px;color:#a65;}
.alertin-int a {color:#a65;text-decoration:underline}
.alertin-int a:hover {color:#56a !important;}



            .pregunta {
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                background-color:#f5f5f5;
                }

            .interiorask {
                display:table;
                padding:20px;}
            .interiorask .foto {
                display:table-cell;
                padding:15px;
                vertical-align:top;}
            .interiorask .foto img {
                border-radius:2px;
                }
            .interiorask .data {
                padding:15px;
                display:table-cell;
                vertical-align:top;}
                
            .interiorask .data .asker {
                font-weight:bold;
                display:block;
                margin-bottom:4px;
            }



#infscr-loading {display:none !important;}

            
            
            .socialmedia a {
                display:inline-block;
                width:34px;
                height:34px;
                background-position:center center;
                background-size:cover;
                background-repeat:no-repeat;
                border-radius:2px;
                opacity:0.8;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                }
                
            .socialmedia a:hover {opacity:1;}
                
            .socialmedia a.facebook {
                background-image:url('http://static.tumblr.com/srkzstu/JEZm9ffv1/facebook.png');   
            }
            .socialmedia a.twitter {
                background-image:url('http://static.tumblr.com/srkzstu/5D9m9ffwb/twitter.png');   
            }
            .socialmedia a.youtube {
                background-image:url('http://static.tumblr.com/srkzstu/U8vm9ffy9/youtube.png');   
            }
            .socialmedia a.dribbble {
                background-image:url('http://static.tumblr.com/srkzstu/uhUm9fg17/dribbble.png');   
            }
            .socialmedia a.flickr {
                background-image:url('http://static.tumblr.com/srkzstu/6Spm9fg8a/flickr.png');   
            }
            .socialmedia a.behance {
                background-image:url('http://static.tumblr.com/srkzstu/tMcm9fg98/benance.png');   
            }
            .socialmedia a.linkedin {
                background-image:url('http://static.tumblr.com/srkzstu/5Lfm9fgaj/linkedin.png');   
            }
            .socialmedia a.google {
                background-image:url('http://static.tumblr.com/srkzstu/nH8m9fgbw/google.png');   
            }
            .socialmedia a.vimeo {
                background-image:url('http://static.tumblr.com/srkzstu/6QWm9fgco/vimeo.png');   
            }
            .socialmedia a.pinterest {
                background-image:url('http://static.tumblr.com/srkzstu/0nVm9fgdk/pinterest.png');   
            }
            .socialmedia a.graawl {
                background-image:url('http://static.tumblr.com/srkzstu/HfWm9fgyn/graawl.png');   
            }
            .socialmedia a.cssbrigit {
                background-image:url('http://static.tumblr.com/srkzstu/GWhm9fgte/brigitlogo2.jpg');   
            }






            ul.peopleifollow {
             list-style-type:none;  
             padding:15px 0 20px 0;
             background:url('http://static.tumblr.com/srkzstu/7Y7m96dtd/body-bg5.png') center bottom repeat-x;
             margin-bottom:5px;
            }
            
            ul.peopleifollow li {display:inline-block;}
            ul.peopleifollow li img {width:48px;height:48px;border-radius:2px;}





            .tweet {padding:10px 0;}
        .tweet_em {
            width:25px;
        height:20px;
      
        margin-right:10px;
        margin-bottom:-5px;
        background:url('http://static.tumblr.com/srkzstu/BSrm9p25m/twitterlogo.png') center center no-repeat;
        display:inline-block;
        background-size:cover;}



            .respuesta {
                background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                display:table;
                padding:20px;}
            .respuesta .foto {
                display:table-cell;
                padding:15px;
                vertical-align:top;}
            .respuesta .foto img {
                border-radius:2px;
                }
            .respuesta .data {
                padding:15px;
                display:table-cell;
                vertical-align:top;}


            .chatin li {
padding: 8px 5px 8px 45px;
background-position:17px center;
background-repeat:no-repeat;
font-size:12px;

border-style:solid;border-width:1px 0 0 0;border-color:#eee;

}

.odd {
 background-color:#f9f9f9;
}

ul.chatin .user_1 {
background-image:url('http://static.tumblr.com/srkzstu/V8Dl75my2/user-black.png');
color:#555;
}

ul.chatin .user_2 {
background-image:url('http://static.tumblr.com/srkzstu/0HUl75n0e/user-white.png');
color:#888;
}

ul.chatin .user_3 {
background-image:url('http://static.tumblr.com/srkzstu/iaYl75n0y/user.png');
color:008
}

ul.chatin .user_4 {
background-image:url('http://static.tumblr.com/srkzstu/Roil75o2w/user-red.png');
color:#800;
}

ul.chatin .user_5 {
background-image:url('http://static.tumblr.com/srkzstu/gzhl75n21/user-green.png');
color:#080;
}

ul.chatin .user_6 {
background-image:url('http://static.tumblr.com/srkzstu/MzHl75o3j/user-gray.png');
}

ul.chativ .user_7 {
background-image:url('http://static.tumblr.com/srkzstu/iIBl75n2x/user-yellow.png');
}





ul#likes {
                list-style-type: none;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                display:block;width:100%;
            }

                li.like_post {
                    /* Should match the width specified in the Likes tag */
                  
                    padding: 30px 0px;
                    display:block;
                    color:#ccc;
                }
                
                li.like_post + li.like_post {
                    background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;
                    }

                  li.like_post img {
                      max-width: 100%;
                      border-radius:2px;
                      box-shadow: 1px 1px 2px rgba(10,10,10, 0.1);
                  }

                  li.like_post blockquote {
                      margin: 0;
                      padding: 0 0 0 10px;
                      border-left: 1px solid #eee;
                  }

                  li.like_post ol,
                  li.like_post ul {
                      margin: 0 0 0 15px;
                      padding: 0;
                  }
                  
                  li.like_post a {color:#ccc;}

                  li.like_post .like_link a {
                      font-weight: bold;
                      
                  }

                  li.like_post .like_title {
                      font-weight: bold;
                  }

                  li.like_post .post_info_bottom {
                      margin: 10px 0 0 0;
                      display: block !important;
                  }





.photoset .photoset_row .photoset_photo {margin:0 !important;padding:0 !important}

.photoset .photoset_row .photoset_photo img {display:none !important;margin:0 !important}












        
            .notas {
                min-height:50px;
                background:url('http://static.tumblr.com/srkzstu/FQnm946n2/timeline-finito.png') 50px top repeat-y;
                }
                
            .permalinkpage .notas {background-image:none;}
                
            ol.notes {
                padding: 10px 0px;
                margin: 0px 0px 0px 30px;
                list-style-type: none;
                color:#888;
                font-size:11px;
                
  
                
            }

            ol.notes li.note {
         
                padding: 10px;
                margin-left:0px;
                max-width:400px;
                overflow:hidden;
            }

            ol.notes li.note img.avatar {
                vertical-align: -8px;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                border-radius:2px;
                border-width:1px;
                border-color:#d0d0d0;
                border-style:solid;
                background-color:#fff;
            }

            ol.notes li.note span.action {
                font-weight: 200;
            }

            ol.notes li.note .answer_content {
                font-weight: normal;
            }

            ol.notes li.note blockquote {
                border-color: #eee;
                padding: 4px 10px;
                margin: 10px 0px 0px 25px;
            }

            ol.notes li.note blockquote a {
                text-decoration: none;
            }
        
        
            ol.notes a {
                text-decoration:none;
                font-weight:500;
             
                }
        
            span.vernotes {
                display:block;
                padding-left:0px;
                /*background:url('http://static.tumblr.com/srkzstu/ZmBm9629r/eyemini.png') left center no-repeat;*/
                margin:0px 0 0 42px;
                padding-top:15px;
                font-size:11px;
                cursor:pointer;
                color:#aaa;
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
               text-shadow:1px 1px 1px #fff;
                }
                
            .dsq-comment-count {
                color:#888;
                }
                
            span.vernotes:hover {
                color:#555;
                }
                
            span.vernotes em {
                
                box-shadow: 0px 1px 2px rgba(10,10,10, 0.1);
                margin-top:1px;
                margin-right:10px;
                background:url('http://static.tumblr.com/srkzstu/aKem963ho/plus__1_.png') center 2.50px no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
                display:block;
                height:15px;
                width:15px;
                border-style:solid;
                border-width:1px;
                border-color:#d0d0d0;
                border-radius:30px;
                background-color:#fff;
                float:left;
                
                }


        @-moz-document url-prefix() {
        span.vernotes em {
            background:url('http://static.tumblr.com/srkzstu/aKem963ho/plus__1_.png') 3px 2.50px no-repeat, url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            }
        }
                
        .permalinkpage span.vernotes {display:none;}
                
                
        .pagination {
            background-color:#eaeaea;
            text-align:center;
            padding:20px;
            color:#666;
            }
            
        .pagination-int {
            max-width:1000px;
            margin:auto;
        }
        
        .pagination-int .numeracion {
            display:inline-block;
            width:67%;
            }
        .pagination-int .nextprev {
            display:inline-block;
            width:22%;
            }
            
        .pagination a {
            color:#666;
            
            }
            
            
        .jump_page {
            border-style:solid;
            border-width:1px;
            border-radius:2px;
            border-color:#ccc;
            background:url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            background-color:#fff;
            display:inline-block;
            box-shadow: 1px 1px 2px rgba(10,10,10, 0.1);
            transition: background-color .25s ease-in-out;
                -moz-transition: background-color .25s ease-in-out;
                -webkit-transition: background-color .25s ease-in-out;
        }
        
        .jump_page:hover {
            background-color:#f5f5f5;
            }
            
            
        .jump_page.current_page {
            box-shadow: 1px 1px 2px rgba(10,10,10, 0.1) inset;
            background-color:#f5f5f5;
            }
            
        .jump_page:active {
            box-shadow: 1px 1px 2px rgba(10,10,10, 0.1) inset;
            background-color:#f5f5f5;
            }
        
        .jump_page:active span {
            border-color:transparent
            }
            
            
        .jump_page span {
            display:block;
            border-radius:2px;
           border-style:solid;border-color:#fff;border-width:1px 0 0 1px;
            padding:5px 11px;
            text-shadow:1px 1px 1px #fff;
            }
            
            
        .jump_page.current_page span {
            border-color:transparent;  
            color:#ccc;
        }
        
        
        .loadmore {margin-left:130px;}
        
        
        .nextprev_page {
            border-style:solid;
            border-width:1px;
            border-radius:2px;
            border-color:#ccc;
            background:url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x;
            background-color:#fff;
            display:inline-block;
            box-shadow: 1px 1px 2px rgba(10,10,10, 0.1);
        }
        
        .nextprev_page span {
            display:block;
            border-radius:2px;
           border-style:solid;border-color:#fff;border-width:1px 0 0 1px;
            padding:5px 11px;
            text-shadow:1px 1px 1px #fff;
            }
            
            
            
        .pagination.infinite .nextprev, .pagination.infinite .numeracion {
         display:none;   
        }
        
        
        
        .pagination.fade {
            margin-top:-220px;
            padding-top:180px;
            padding-bottom:20px;
            position:relative;
            z-index:333;
           /* background:-webkit-gradient(linear, center top, center bottom, color-stop(7%, rgba(255, 255, 255, 0) ), color-stop(42%, rgb(255, 255, 255))); */
            }
            
            
            
            
            #footer {
                background-color:#000;
                color:#fff;
                text-shadow:1px 1px 1px #000;
                text-align:center;
                }
            #footer a {color:#fea;}
            
            #footer .footer-int {
                
                max-width:1000px;
                padding:10px 0;
                margin:auto;
            }
            
            #footer .pie {
                font-size:11px;color:#fff;
                overflow:hidden;
                padding:0 15px;
            }
            
            #footer .pie .copy {float:right;display:inline-block;}
            #minipages {float:left;display:inline-block;}
            
        
        
        
        
        
        
        
        
        
        
.mb_YTVPlayer :focus {
  outline: 0;
}
.mb_YTVPlayer{
  display:inline-block;

}

/*CONTROL BAR*/
.mb_YTVPBar{
  display:block;
  width:100%;
  height:0px;


  position:absolute;
  bottom:2px;
  left:0;
  -moz-box-sizing:padding-box;
  -webkit-box-sizing:border-box;
  text-align:right;
  z-index: 1;
  font: 14px/16px 'helvetica neue';
  color:white;
  opacity:.0;
  display:none;
  margin:0 1px;
  transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
}

.bighead:hover .mb_YTVPBar{
  opacity:1;
  display:block;
}

.mb_YTVPBar .buttonBar{
  background:transparent;
  font:12px/14px Calibri;
  position:fixed;
  top:80px;
right:150px;
}

.mb_YTVPBar span{
  display:inline-block;
  font:12px 'helvetica neue',helvetica,arial;
  position:relative;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  
}


.mb_YTVPBar span + span {margin-right:20px;}



.mb_YTVPPlaypause,.mb_YTVPlayer .mb_YTVPPlaypause img{
  cursor:pointer;
  
}

.mb_YTVPBar img {width:20px;height:20px;margin-top:-4px;}

.mb_YTVPMuteUnmute{
  cursor:pointer;
}


/*PROGRESS BAR*/
.mb_YTVPProgress{
  height:5px;
  width:100%;

  bottom:0;
  left:0;
}

.mb_YTVPLoaded{
  height:5px;
  width:0;
  background:#444;
  left:0;
  border-radius:3px;
}

.mb_YTVTime{
  height:5px;
  width:0;
  background:#fff;
  bottom:0;
  left:0;
  border-radius:3px;
}
        
        
        
        
        
        
        
        
        
        
        .busqueda {float:right;padding-top:4px;}
        .busqueda input {padding:8px 10px 8px 34px;
            background:url('http://static.tumblr.com/srkzstu/54Wm9sdk9/lupa.png') left top no-repeat;
            border-radius:22px;
            border-style:solid;border-width:2px;border-color:#444;
            background-color:#333;
            outline:0;
            font-size:12px;
            color:#777;
             box-shadow: 1px 1px 2px rgba(10,10,10, 0.4) inset;
        }
    
        .busqueda input:hover {
            background-color:#444;
            color:#fff;
        }
        
        
        
/* TipTip CSS - Version 1.2 */

#tiptip_holder {display: none;position: absolute;top: 0;left: 0;z-index: 99999;}
#tiptip_holder.tip_top {padding-bottom: 5px;}
#tiptip_holder.tip_bottom {padding-top: 5px;}
#tiptip_holder.tip_right {padding-left: 5px;}
#tiptip_holder.tip_left {padding-right: 5px;}
#tiptip_content {font-size: 11px;color: #fff;text-shadow: 0 0 2px #000;padding: 4px 8px;border: 1px solid rgba(255,255,255,0.25);background-color: rgb(25,25,25);background-color: rgba(25,25,25,0.92);background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;box-shadow: 0 0 1px rgba(255,255,255,0.25);}
#tiptip_arrow, #tiptip_arrow_inner {position: absolute;border-color: transparent;border-style: solid;border-width: 6px;height: 0;width: 0;}
#tiptip_holder.tip_top #tiptip_arrow {border-top-color: #fff;border-top-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_bottom #tiptip_arrow {border-bottom-color: #fff;border-bottom-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_right #tiptip_arrow {border-right-color: #fff;border-right-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_left #tiptip_arrow {border-left-color: #fff;border-left-color: rgba(255,255,255,0.35);}
#tiptip_holder.tip_top #tiptip_arrow_inner {margin-top: -7px;margin-left: -6px;border-top-color: rgb(25,25,25);border-top-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {margin-top: -5px;margin-left: -6px;border-bottom-color: rgb(25,25,25);border-bottom-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_right #tiptip_arrow_inner {margin-top: -6px;margin-left: -5px;border-right-color: rgb(25,25,25);border-right-color: rgba(25,25,25,0.92);}
#tiptip_holder.tip_left #tiptip_arrow_inner {margin-top: -6px;margin-left: -7px;border-left-color: rgb(25,25,25);border-left-color: rgba(25,25,25,0.92);}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {    
#tiptip_content {padding: 4px 8px 5px 8px;background-color: rgba(45,45,45,0.88);}
#tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: rgba(45,45,45,0.88);}
#tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: rgba(20,20,20,0.92);}
}
        
        
        
        
        
        
        
    @-moz-document url-prefix() {
        .busqueda {padding-top:7px;}
        }
        
        
        
@media (max-width: 680px) {
    .cuerpo .column-left {width:100%;display:block;}             
    .mb_YTVPBar .buttonBar{top:150px;}
    .cuerpo .column-right {margin-top:35px; width:100%;font-size:12px;background: none;display:block;background:url('http://static.tumblr.com/srkzstu/Icfm920h8/h-separatorflow.png') 52% top repeat-x;}
    .loadmore {margin-left:0;}
    .sidebar {-moz-column-count: 2; -moz-column-gap: 10px;-webkit-column-count: 2;-webkit-column-gap: 10px;column-count: 2;column-gap: 10px;}          
    .sidebar .cuadro {display: block;}
    #paginas {width:100%;display:block;text-align:center;}
}





@media (max-width: 450px) {
        .sidebar {-moz-column-count: 1;-moz-column-gap: 10px;-webkit-column-count: 1;-webkit-column-gap: 10px;column-count: 1;column-gap: 10px;}     
        li.activity-row .tablastyle .left {display:none;}  
        li.activity-row .tablastyle .center {}
        li.activity-row .tablastyle .center .puntito {margin:auto;margin-top:15px;background:url('http://static.tumblr.com/srkzstu/VB2m920pc/gradiente2.png') center bottom repeat-x !important;background-color:#fff !important;height:20px;width:20px;margin-left:5px;}
        .cuerpo .column-left {background:url('http://static.tumblr.com/srkzstu/jYxm92kzm/timeline.png') 24.89px top repeat-y;;}  
        li.activity-row {background:url('http://static.tumblr.com/srkzstu/pNom92zvg/timeline-fix.png') 35px 25px no-repeat;}
        .bighead .head-author .legend {background:url('http://static.tumblr.com/srkzstu/dvwm92lnh/timelinedark.png') 24px 10px repeat-y;}
        .bighead .head-author .legend .photo {margin-left:-70px;}
        .bighead .head-author .legend .photo img {width:100px;height:100px;}
        .bighead .head-author .legend .desc {max-width:200px;font-size:11px;}
        .bighead .head-author .legend .desc .big {font-size:25px;}
        .head-socialmedia a {width:20px;height:20px;}
}

/**Custom***/
.no-background {
    background-image: none !important;
}
