@charset "UTF-8";
/*
 # Thiết lập các biến cần dùng thường xuyên
*/
/*--COLOR--*/
/* line 1, scss/generic/_helpers.scss */
.fr {
  float: right; }

/* line 5, scss/generic/_helpers.scss */
.fl {
  float: left; }

/* line 9, scss/generic/_helpers.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* line 16, scss/generic/_helpers.scss */
.clearfix {
  display: inline-block; }

/* line 19, scss/generic/_helpers.scss */
.clearfix {
  display: block; }

/* line 1, scss/components/_form.scss */
.form {
  /* CSS FOR MOBLIE */
  /* Input search for mobile */ }
  /* line 2, scss/components/_form.scss */
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="number"],
  .form input[type="date"],
  .form textarea {
    border: 2px solid #eff2f3;
    padding: 6px 7px 6px 12px;
    outline: none;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  /* line 16, scss/components/_form.scss */
  .form .input-search {
    width: 230px; }
  /* line 19, scss/components/_form.scss */
  .form .input-search-wp:after {
    content: "";
    background: url(../img/search-ic.png) no-repeat center center;
    width: 29px;
    height: 30px;
    display: block;
    display: inline-block;
    position: relative;
    top: 10px;
    right: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: -6px; }
  /* line 36, scss/components/_form.scss */
  .form.search-form-mobile {
    margin-bottom: 20px; }
  /* line 40, scss/components/_form.scss */
  .form .input-search-mobile-wp {
    margin-right: 36px;
    padding: 0px 10px 0px 20px; }
    /* line 43, scss/components/_form.scss */
    .form .input-search-mobile-wp .input-search-mobile {
      float: left;
      width: 100%; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/* line 1, scss/components/_button.scss */
.button {
  background-color: gray;
  padding: 6px 10px;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px; }
  /* line 10, scss/components/_button.scss */
  .button:hover {
    text-decoration: none;
    color: white;
    background-color: #006b9f; }

/* line 18, scss/components/_button.scss */
.btn-search-mobile {
  border: none;
  background: gray url("../img/search-ic.png") no-repeat center center;
  padding: 2px 8px;
  width: 29px;
  height: 29px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: -2px; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/* top level
--------------------------------------------*/
/* line 3, scss/components/_navigation.scss */
.nav {
  margin: 0 auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 4;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 0;
  /* sub level
   --------------------------------------------*/ }
  /* line 19, scss/components/_navigation.scss */
  .nav > li {
    border: 1px solid transparent;
    padding: 10px 0px;
    float: left;
    position: relative;
    /*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    z-index: 5; }
    /* line 26, scss/components/_navigation.scss */
    .nav > li:hover, .nav > li.onhover {
      border: 1px solid gray; }
      /* line 28, scss/components/_navigation.scss */
      .nav > li:hover a, .nav > li.onhover a {
        z-index: 9; }
      /* line 32, scss/components/_navigation.scss */
      .nav > li:hover .drop, .nav > li.onhover .drop {
        left: 0px;
        /*Use this property to change offset of the dropdown*/ }
      /* line 36, scss/components/_navigation.scss */
      .nav > li:hover .dropToLeft, .nav > li.onhover .dropToLeft {
        left: auto;
        right: -1px; }
      /* line 41, scss/components/_navigation.scss */
      .nav > li:hover .dropToLeft2, .nav > li.onhover .dropToLeft2 {
        left: auto;
        right: -60px; }
    /* line 47, scss/components/_navigation.scss */
    .nav > li > a {
      padding: 0 17px;
      font-size: 14px;
      font-weight: normal;
      display: inline-block;
      outline: 0;
      text-decoration: none;
      color: gray;
      position: relative; }
  /* line 62, scss/components/_navigation.scss */
  .nav .drop {
    position: absolute;
    width: 250px;
    z-index: 5;
    left: -9999px;
    border: 1px solid #a7a7a7;
    padding: 5px 16px;
    top: 40px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /* Elements within the drop down sub-menu
    --------------------------------------------*/ }
    /* line 80, scss/components/_navigation.scss */
    .nav .drop.large {
      width: 520px; }
    /* line 86, scss/components/_navigation.scss */
    .nav .drop ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      /* line 90, scss/components/_navigation.scss */
      .nav .drop ul li {
        padding: 10px 0px;
        border-bottom: 1px solid #e0dcdc; }
        /* line 93, scss/components/_navigation.scss */
        .nav .drop ul li a {
          color: #00466c;
          font-size: 13px; }
        /* line 98, scss/components/_navigation.scss */
        .nav .drop ul li.last {
          border-bottom: 0px; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/* line 4, scss/partials/_header.scss */
.mobile-bar {
  height: 38px;
  border: 1px solid gray; }
  /* line 7, scss/partials/_header.scss */
  .mobile-bar #btn-menu {
    padding-top: 8px;
    padding-left: 15px;
    display: block;
    float: left; }
  /* line 13, scss/partials/_header.scss */
  .mobile-bar #btn-menu:before {
    content: "";
    display: block;
    width: 23px;
    height: 20px;
    border-top: 12px double gray;
    border-bottom: 4px solid gray; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/* line 1, scss/partials/_login.scss */
.bg-login {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0; }

/* line 15, scss/partials/_login.scss */
.grad {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  z-index: 1;
  opacity: 0.7; }

/* line 28, scss/partials/_login.scss */
.lg-body {
  height: 100%; }
  /* line 30, scss/partials/_login.scss */
  .lg-body .lg-wapper {
    height: 100%; }
    /* line 32, scss/partials/_login.scss */
    .lg-body .lg-wapper .login-wp {
      position: relative;
      top: 50%;
      margin: 0 auto;
      width: 330px;
      z-index: 5;
      padding: 20px 30px 30px;
      margin-top: -180px; }
      /* line 40, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .sitename {
        overflow: auto;
        margin-bottom: 10px; }
        /* line 43, scss/partials/_login.scss */
        .lg-body .lg-wapper .login-wp .sitename div {
          float: left;
          color: #fff;
          font-family: 'Exo', sans-serif;
          font-size: 35px;
          font-weight: 200; }
          /* line 49, scss/partials/_login.scss */
          .lg-body .lg-wapper .login-wp .sitename div span {
            color: #5379fa !important; }
      /* line 55, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form input[type=text] {
        width: 100%;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px; }
      /* line 68, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form input[type=password] {
        width: 100%;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px; }
      /* line 81, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form button {
        width: 100%;
        height: 35px;
        background: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #a18d6c;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px; }
      /* line 95, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form button:hover {
        opacity: 0.8; }
      /* line 99, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form button:active {
        opacity: 0.6; }
      /* line 103, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9); }
      /* line 108, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9); }
      /* line 113, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form button:focus {
        outline: none; }
      /* line 117, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      /* line 121, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form ::-moz-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      /* line 125, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form .lg-error {
        color: white;
        margin-top: 15px; }
      /* line 129, scss/partials/_login.scss */
      .lg-body .lg-wapper .login-wp .login-form .lg-label {
        font-family: 'Exo', sans-serif;
        font-size: 15px;
        font-weight: 200;
        color: white; }
  /* line 138, scss/partials/_login.scss */
  .lg-body .lg-footer {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    z-index: 5;
    height: 100px;
    padding: 10px;
    padding-left: 50px; }
    /* line 150, scss/partials/_login.scss */
    .lg-body .lg-footer .lg-left-ft {
      width: 150px;
      float: left; }
      /* line 153, scss/partials/_login.scss */
      .lg-body .lg-footer .lg-left-ft a {
        text-align: center;
        display: block;
        height: 45px;
        padding: 0 10px;
        margin: 0 0 8px 0;
        font-size: 16px;
        line-height: 45px;
        border: 0;
        border-radius: 2px;
        color: #fff;
        background: rgba(255, 255, 255, 0.28);
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
        border-color: #9da6af;
        font-weight: bold;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        text-decoration: none !important; }
    /* line 179, scss/partials/_login.scss */
    .lg-body .lg-footer .lg-right-ft {
      width: 150px;
      float: right;
      padding-top: 20px; }
      /* line 183, scss/partials/_login.scss */
      .lg-body .lg-footer .lg-right-ft a {
        color: white;
        text-decoration: none; }

/* line 21, style.scss */
img {
  max-width: 100%; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
